/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
/*common style or utilites */
body{
    font-family: 'Poppins', sans-serif;
}
   main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
} 
.players{
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 70px;
margin-left: 165px;
margin-right: 210px;
}

/* ......top-part ...........*/ 
.top-banner{
 background-color: #242286;;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-row-gap: 18px;
}
.half-width{
    width: 50%;
}
/* .......player-details...... */
h1{
     width: 485px;
    height: 230px; 
    margin-left: 100px;
    margin-top: 240px;
    font-size: 64px;
    color: #FFFFFF; 
    justify-content: center;
}
.icon{
    color: #FFFFFF;
    background-color: #E02C6D;
    margin-bottom: 250px;
    margin-left: 100px;
    height: 45px;
    width: 160px;
    padding-top: 15px;
    text-align: center;
   
}
 .fas{
    color: #FFFFFF;
    
 }
.photo img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 80px;
    margin-right: 140px ;
}
.photo:hover img {
    transform:  skew(30deg);
    transition: transform 5s ease-in-out;
}
/* ............players-info............. */
.inline-box{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    margin-left: 52px;
margin-bottom: 27px;
    box-shadow: 0px 0px 40px rgb(96, 99, 96);
    padding: 20px;
    border-radius: 5px;
}
.thumble img{
width: 300px;
height: 256px;
margin: 16px 0px;
}
.player-info{
width: 300px;
height: 124px;
 margin-top: 16px;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 60px;
}
.title{
margin: 10px 0px;
color: #18191F;
font-size: 28px;
}
.player-details{
    font-size: 16px;
    color: #6C6C6C;
}
/*...........video-info...... */
h2{
    font-size: 40px;
    color: blue; 
   text-align: center;
}
.videos{
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-top: 70px;
margin-left: 165px;
margin-right: 210px;
}
iframe{
    width: 100%;
}
.video{
    border: 5px solid goldenrod;
    border-radius: 5px;
    margin: 2%;
}
/*....... footer..... */
.footer{
width: 483.87px;
height: 213px;
margin-left: 475px;
text-align: center;
justify-content: center;
align-items: center;
}
.footer-box img{
    width: 483.87px;
    height: 110px;
}
.footer-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.madeia-icon{
width: 170px;
height: 32px;
color: #969BAB;;
}
.social-icon{
    font-size: 25px;
}
/*........... media-ques.......... */
/* mobile */
@media (max-width: 688px){
    .container{
        width: 100%;
    }
.top-banner, .players, .videos, .footer{
    grid-template-columns: repeat(1, 1fr);
}
.player, .video, .footer-box{
    flex-direction: column;
}
}
/* -------tablet-device----------- */
@media (min-width: 688px)and (max-width: 992px){
    .container{
        width: 100%;
    }
    .top-banner, .videos, .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .players{
    grid-template-columns: repeat(2, 1fr);
}
.player, .video, .footer-box{
    flex-direction: column;
}
}